.ant-select-btn {
  height: 40px;

  .ant-select-arrow,
  &.ant-select-open .ant-select-selection-item {
    color: #c0bec3 !important;
  }

  &__list,
  > div {
    background-color: #581d8e !important;
    border: 1px solid #6b36aa !important;
    color: #c0bec3 !important;
  }

  &__list {
    div {
      color: #e2dde8 !important;
    }
  }
}
